@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

body{
    font-family: "Space Grotesk", sans-serif;
    text-align: center;
    background: #F5F5F5;
}

h1{
    margin-top: 150px;
}

.mainDiv{
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

#todoInput{
    padding: 1.1rem;
    width: inherit;
    border: none;
    outline: none;
    font-size: 16px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-family: inherit;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.inputBox{
    display: flex;
    justify-content: center;
    width: inherit;
    margin: 0 auto;
}

#addBtn{
    background-color: #678692;
    border: none;
    cursor: pointer;
    padding: 0 1.2rem;
    color: white;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#todoList{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}


.editBtn{
    font-size: 19px;
    padding: 0 0.8rem;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #2196F3;
}

.list{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 14px;
    margin: 0.8rem 0;
    border-radius: 5px;
}

.delBtn{
    font-size: 16px;
    padding: 0 0.5rem;
    border: none;
    background: transparent;
    cursor: pointer;
    color: red;
}


.editInput{
   outline: none;
   border: none;
   font-size: 15px;
   width: 50%;
}

.pending{
    font-size: 18px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #1C352D;
}

.editInput:focus{
    border-bottom: 1px solid dodgerblue;
}

.completed{
    text-decoration: line-through;
    color: gray;
}

